if ARCH_S5L87XX

choice
    prompt "S5L87XX board select"
    optional

config TARGET_NANO5G
    bool "Apple iPod Nano 5G"

config TARGET_NANO4G
	bool "Apple iPod Nano 4G"

endchoice

config SYS_SOC
    default "s5l87xx"

source "board/apple/nano5g/Kconfig"
source "board/apple/nano4g/Kconfig"

endif
